<ion-view title="HelpDeaf">
   
    <ion-content overflow-scroll="true" class="has-header">
        
        <form class="list">
            <label class="item item-input">
                
            <span class="input-label">Nome:</span>   
            <input type="text" placeholder="Nome">
            </label>
            <label class="item item-input">
                
            <span class="input-label">E-mail:</span>     
            <input type="text" placeholder="E-mail">
            </label>
            <label class="item item-input">
            
            <span class="input-label">Usuário:</span>     
            <input type="text" placeholder="Usuário">
            </label>
            <label class="item item-input">
             
           
            <span class="input-label">Senha:</span>
            <input type="password" name="senha" placeholder="Senha" ng-model="usuario.senha" required ng-minlength="6" />
            </label>
            
            <label class="item item-select">
                <span class="input-label">Estado:</span>
                <select>
                 <option>São Paulo</option>
                 <option>Rio de Janeiro</option>
                 <option>Minas Gerais</option>
                </select>
            </label>
            
            <label class="item item-select">
                <span class="input-label">Cidade:</span>
                <select>
                 <option>São Paulo</option>
                 <option>Osasco</option>
                 <option>Vila Olimpia</option>
                </select>
            </label>
            
        <ion-list>
            <label class="item item-select">
                <span class="input-label">Nível Libras:</span>
                <select>
                    <option>Básico</option>
                    <option>Intermediário</option>
                    <option>Avançado</option>
                    <option>Nenhum</option>
                </select>
            </label>
            <ion-checkbox>Leitura Labial</ion-checkbox>
        
            l<label class="item item-select">
                <span class="input-label">Perfil:</span>
                <select>
                    <option>Surdo</option>
                    <option>Ouvinte</option>
                </select>
            </label>
        
        <a href="#/page1" class="button button-stable button-block button-balanced">Cadastrar</a>
        
        </form>
        </ion-list>
    </ion-content>
</ion-view>