<ion-view title="Cadastro Usuário">
   
    <ion-content overflow-scroll="true" class="has-header">
        
        <form class="list">
            <label class="item item-input">
               
            <input type="text" placeholder="Digite seu nome...">
            </label>
            <label class="item item-input">
                
            <input type="text" placeholder="Digite seu e-mail...">
            </label>
            <label class="item item-input">
                
            <input type="text" placeholder="Digite seu usuário...">
            </label>
            <label class="item item-input">
               
            <input type="text" placeholder="Digite sua senha (minimo 8 caracteres)...">
            </label>
            <label class="item item-select">
                <span class="input-label">Estado</span>
                <select>
                 <option>São Paulo</option>
                 <option>Rio de Janeiro</option>
                 <option>Minas Gerais</option>
                </select>
            </label>
            <label class="item item-select">
                <span class="input-label">Cidade</span>
                <select>
                 <option>São Paulo</option>
                 <option>Osasco</option>
                 <option>Vila Olimpia</option>
                </select>
            </label>
            
        <ion-list>
            <label class="item item-select">
                <span class="input-label">Nível Libras</span>
                <select>
                    <option>Básico</option>
                    <option>Intermediário</option>
                    <option>Avançado</option>
                    <option>Nenhum</option>
                </select>
            </label>
            <ion-checkbox>Leitura Labial</ion-checkbox>
        
            <label class="item item-select">
                <span class="input-label">Perfil</span>
                <select>
                    <option>Surdo</option>
                    <option>Ouvinte</option>
                </select>
            </label>
        
        <a href="#/page1" class="button button-stable button-block">Cadastrar</a>
        
        </form>
        </ion-list>
    </ion-content>
</ion-view>