<ion-view title="Configurações">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Nome</span>
                <input type="text" placeholder="">
            </label>
            
            <label class="item item-input">
                <span class="input-label">E-mail</span>
                <input type="text" placeholder="">
            </label>
            
            <label class="item item-input">
                <span class="input-label">Usuário</span>
                <input type="text" placeholder="">
            </label>
            
            <label class="item item-input">
                <span class="input-label">Senha</span>
                <input type="text" placeholder="">
            </label>
            
            <label class="item item-select">
                <span class="input-label">Estado</span>
                <select></select>
            </label>
            
            <label class="item item-select">
                <span class="input-label">Cidade</span>
                <select></select>
            </label>
            
            <ion-list></ion-list>
        </form>
        <ion-list>
            <label class="item item-select">
                <span class="input-label">Nível Libras</span>
                <select>
                    <option>Básico</option>
                    <option>Intermediário</option>
                    <option>Avançado</option>
                    <option>Nenhum</option>
                </select>
            </label>
            <ion-checkbox>Entende leitura labial?</ion-checkbox>
        </ion-list>
        <form class="list">
            <label class="item item-select">
                <span class="input-label">Perfil</span>
                <select>
                    <option>Surdo</option>
                    <option>Ouvinte</option>
                </select>
            </label>
        </form>
        <button class="button button-stable button-block">Alterar</button>
    </ion-content>
</ion-view>