<ion-view title="Configurações">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
           
           <div class="list">
           <label class="item item-input item-stacked-label">
           <span class="input-label">Nome:</span>
           <input type="text" placeholder="">
           </label>
        
           <div class="list">
           <label class="item item-input item-stacked-label">
           <span class="input-label">E-mail:</span>
           <input type="text" datetime = "dd/mm/yyyy" placeholder="">
           </label>
        
           <div class="list">
           <label class="item item-input item-stacked-label">
           <span class="input-label">Usuário:</span>
           <input type="text" placeholder="">
           </label>
           
           <div class="list">
           <label class="item item-input item-stacked-label">
           <span class="input-label">Senha:</span>
           <input type="text" placeholder="">
           </label>
           
           <div class="list">
           <label class="item item-input item-stacked-label">
           <span class="input-label">Estado:</span>
           <input type="text" placeholder="">
           </label>
           
           <div class="list">
           <label class="item item-input item-stacked-label">
           <span class="input-label">Cidade:</span>
           <input type="text" placeholder="">
           </label>
            
            
        </form>
        <ion-list>
            
            <label class="item item-select">
                <span class="input-label">Nível Libras</span>
                <select>
                    <option>Básico</option>
                    <option>Intermediário</option>
                    <option>Avançado</option>
                    <option>Nenhum</option>
                </select>
            </label>
        </ion-list>
        
        <form class="list">
            <label class="item item-select">
                <span class="input-label">Perfil</span>
                <select>
                    <option>Surdo</option>
                    <option>Ouvinte</option>
                </select>
            </label>
              <a href="#/page4" class="button button-stable button-block">Alterar</button></a>
        </form>
        
          <ion-checkbox>Entende leitura labial?</ion-checkbox>
    </ion-content>
</ion-view>