<ion-view title="Descreva sua Necessidade">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="button-bar">
            <a href="#/page3" class="button button-stable button-block ">Meu Perfil</button></a>
            <a href="#/page9" class="button button-stable button-block ">Configurações</button>
            <a href="#/page1" class="button button-stable button-block ">Tela Inicial</a>
        </div>
        
           <div class="list">
           <label class="item item-input item-stacked-label">
           <span class="input-label">Necessidade:</span>
           <input type="text" placeholder="Descreva o que necessita">
           </label>
        
           <div class="list">
           <label class="item item-input item-stacked-label">
           <span class="input-label">Data:</span>
           <input type="text" datetime = "dd/mm/yyyy" placeholder="01/01/1999">
           </label>
        
           <div class="list">
           <label class="item item-input item-stacked-label">
           <span class="input-label">Horario Inicio:</span>
           <input type="text" placeholder="Inicio">
           </label>
           
           <div class="list">
           <label class="item item-input item-stacked-label">
           <span class="input-label">Horario Termino:</span>
           <input type="text" placeholder="Termino">
           </label>
           
           </form>
       <a href="#/page4" class="button button-stable button-block button-balanced">Registrar</button></a>
    </ion-content>
</ion-view>