<ion-view title="Login">
<ion-content overflow-scroll="true" padding="true" class="has-header">

<ion-view title="Lista de Surdos">
<ion-content overflow-scroll="true" padding="true" class="has-header">
    
<h4><strong>Veja aqui uma lista de pessoas disponiveis para que possa ajudar !</strong></h4>    

<ion-list>
  <ion-item>
      
    <ion-avatar item-left>
    <img src="img/orlando.jpg">
    </ion-avatar>
    <h2>Orlando Gomes</h2>
    <p>Necessito ir ao mercado !</p>
    
    <ion-avatar item-left>
    <img src="img/orlando.jpg">
    </ion-avatar>
    <h2>Orlando Gomes</h2>
    <p>Necessito ir ao mercado !</p>
    
    <ion-avatar item-left>
    <img src="img/orlando.jpg">
    </ion-avatar>
    <h2>Orlando Gomes</h2>
    <p>Necessito ir ao mercado !</p>
    
    <ion-avatar item-left>
    <img src="img/orlando.jpg">
    </ion-avatar>
    <h2>Orlando Gomes</h2>
    <p>Necessito ir ao mercado !</p>
    
  
  </ion-item>
</ion-list>

 </ion-content>
</ion-view>