<ion-view title="Login">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <div style="text-align:left;">
                <img src="img/oemg82AQvxYu2vdTyQzg_logo-hp-2.jpg" width="90%" height="auto">
            </div>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Usuário</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Senha</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button class="button button-stable button-block ">Log in</button>
        </form>
        <a href="#/page2" class="button button-positive button-clear button-block ">Ou cadastra-se aqui</a>
    </ion-content>
</ion-view>