<ion-view title="Notificações ">
<ion-content>
    
    <div class="item item-divider">
    Novas
    </div>
    
      <ul class="list">
      <a href="#/page8" class="item">Orlando deseja te ajudar !</a>
      </ul>
      
      <ul class="list">
      <li class="item">Angela deseja te ajudar !</li>
      </ul>
      
      <ul class="list">
      <li class="item">Flavio deseja te ajudar !</li>
      </ul>
      
      <ul class="list">
      <li class="item">Giselle deseja te ajudar !</li>
      </ul>
      
      <div class="item item-divider">
      Mais Antigas
      </div>
      
      <ul class="list">
      <li class="item">Roberto deseja te ajudar !</li>
      </ul>
      
      <ul class="list">
      <li class="item">Caique deseja te ajudar !</li>
      </ul>
        
    </ion-content>
</ion-view>