<ion-view title="HelpDeaf">
    <ion-content overflow-scroll="true" padding="false" class="has-header">
        
        <ion-list>
            <ion-item>Nome: José da Silva</ion-item>
            <ion-item>Necessidade: Ida ao Mercado</ion-item>
            <ion-item>Facebook: José Silva</ion-item>
        </ion-list>
        
        <ion-list>
            <ion-item>Cidade: São Paulo</ion-item>
            <ion-item datetime="dd-MM-yyyy">Quando:20/02/2016</ion-item>
        </ion-list>
    </ion-content>
</ion-view>