<ion-view title="Perfil Ouvinte">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="button-bar">
            <button class="button button-stable button-block ">1</button>
            <button class="button button-stable button-block ">2</button>
            <button class="button button-stable button-block ">3</button>
        </div>
        <div class="spacer" style="width: 283px; height: 143px;"></div>
        <ion-list>
            <ion-item>Nome: Fulano da Silva</ion-item>
            <ion-item>Contatos:</ion-item>
        </ion-list>
        <ion-list>
            <ion-item>Cidade:</ion-item>
        </ion-list>
    </ion-content>
</ion-view>