<ion-view title="Tela Inicial do Ouvinte">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="button-bar">
            <a href="#/page3" class="button button-stable button-block ">Meu Perfil</button></a>
            <button class="button button-stable button-block ">Configurações</button>
            <a href="#/page1" class="button button-stable button-block ">Tela Inicial</a>
        </div>
        <a href="#/page7" class="button button-stable button-block ">Ajudar</a>
        <button class="button button-stable button-block ">Aprender Libras</button>
        <a href="#/page3" class="button button-stable button-block ">Notificações</a>
    </ion-content>
</ion-view>