<ion-view title="Tela Inicial do Surdo">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="button-bar">
            <button class="button button-stable button-block ">1</button>
            <button class="button button-stable button-block ">2</button>
            <button class="button button-stable button-block ">3</button>
        </div>
        <a href="#/page6" class="button button-stable button-block ">Buscar Ajuda</a>
        <button class="button button-stable button-block ">Ajudar</button>
        <button class="button button-stable button-block ">Ensinar Libras</button>
        <a href="#/page8" class="button button-stable button-block ">Notificações</a>
    </ion-content>
</ion-view>