<ion-view title="HelpDeaf">
    
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="button-bar">
            <a href="#/page3" class="button button-stable button-block ">Meu Perfil</a>
            <a href="#/page9" class="button button-stable button-block ">Configurações</a>
            <a href="#/page1" class="button button-stable button-block ">Tela Inicial</a>
        </div>
        
        <a href="#/page6" class="button button-stable button-block ">Buscar Ajuda</a>
        <button class="button button-stable button-block ">Ajudar</button>
        <button class="button button-stable button-block ">Ensinar Libras</button>
        <button class="button button-stable button-block ">Notificações</button>
        
    </ion-content>
</ion-view>