<ion-view title="HelpDeaf">
    
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="button-bar">
            <a href="#/page8" class="button button-stable button-block ">Meu Perfil</a>
            <a href="#/page9" class="button button-stable button-block ">Configurações</a>
            <a href="#/page1" class="button button-stable button-block ">Tela Inicial</a>
        </div>
        
        <a href="#/page6" class="button button-stable button-block ">Buscar Ajuda</a>
        <a href="#/page7" class="button button-stable button-block ">Ajudar</a>
        <a href="#/page12" class="button button-stable button-block ">Ensinar Libras</a></button>
        <a href="#/page11" class="button button-stable button-block ">Notificações</a>
        
    </ion-content>
</ion-view>