<ion-view title="Tela diponibilidade - Ouvinte">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="button-bar">
            <button class="button button-stable button-block ">1</button>
            <button class="button button-stable button-block ">2</button>
            <button class="button button-stable button-block ">3</button>
        </div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Quando:</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <div class="button-bar"></div>
        <div class="button-bar">
            <button class="button button-stable button-block ">Dia</button>
            <button class="button button-stable button-block ">Mês</button>
            <button class="button button-stable button-block ">Ano</button>
        </div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Horário:</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <div class="button-bar">
            <button class="button button-stable button-block ">A partir</button>
            <button class="button button-stable button-block ">Até</button>
        </div>
        <button class="button button-stable button-block ">Registrar</button>
    </ion-content>
</ion-view>